plotly-express
pandas
streamlit
streamlit-folium
folium
GitPython
Jinja2
MarkupSafe
Pillow
Pygments
Pympler
altair
attrs
blinker
branca
cachetools
certifi
charset-normalizer
click
colorama
decorator
entrypoints
gitdb
idna
importlib-metadata
jsonschema
markdown-it-py
mdurl
numpy
packaging
patsy
pip
plotly
protobuf
pyarrow
pydeck
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
requests
rich
scipy
semver
setuptools
six
smmap
statsmodels
tenacity
toml
toolz
tornado
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wheel
zipp
